<div ng-controller="shapeshiftCtrl">
	<div class="no-print spell" style="text-align: center;">
		<div style="float: left">
			Minimum CR: <input ng-model="min_cr">{{min_cr}}<br>
			Maximum CR: <input ng-model="max_cr"><br>
			Can swim: <input type="radio" ng-model="swim" value="true">True<input type="radio" ng-model="swim" value="false">False<br>
			Can fly: <input type="radio" ng-model="flight" value="true">True<input type="radio" ng-model="flight" value="false">False<br>
			Size: <select ng-model="size">
				<option value="0.5">Small</option>
				<option value="1">Medium</option>
				<option value="2">Large</option>
				<option value="3">Huge</option>
				<option value="4">Gargantuan</option>
			</select>
		</div>
		<div style="float: left" ng-repeat="beast in (beasts | filter: filterBeasts)">
			{{beast}}
		</div>
	</div>
</div>
